---
import Section from "./Section.astro";
---

<Section
    title="Model X"
    subtitle="View Invetory"
    color="black"
    id="model-x"
>
    <div slot="footer" class="gap-x-6 flex mx-auto">
        <a href="" class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block">
            Order Now
        </a>
        <a href="" class="bg-white text-sm rounded font-medium px-12 py-2 inline-flex justify-center items-center text-black">
            Demo Drive
        </a>
    </div>

    <img
        slot="background"
        alt="Model X"
        class="h-full w-full object-cover object-center"
        src="model-x.avif"
        id="bg-image-modely"
    />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  var $image = document.querySelector("#bg-image-models") as HTMLImageElement;

  if (isEdge()) {
    $image.src = "model-x.webp";
  } else {
    $image.src = "model-x.avif";
  }
</script>