---
import Section from "./Section.astro";
---

<Section
    title="Powerwall"
    color="black"
    id="powerwall"
>
    <div slot="footer" class="gap-x-6 flex mx-auto">
        <a href="" class="bg-white text-sm rounded font-medium px-12 py-2 inline-flex justify-center items-center text-black">
            Order Powerwall
        </a>
    </div>

    <img
        slot="background"
        alt="Powerwall"
        class="h-full w-full object-cover object-center"
        src="powerwall.avif"
        id="bg-image-powerwall"
    />
</Section>